<div class="card card-image">
  <div class="description">
    <div class="title">The Shawsank Redemption</div>
    <div class="sub">
      <span>1998, 2h12m R</span>
      <span>
        <i class="fa-solid fa-star green"></i>
        <i class="fa-solid fa-star green"></i>
        <i class="fa-solid fa-star green"></i>
        <i class="fa-solid fa-star green"></i>
        <i class="fa-regular fa-star"></i>
      </span>
    </div>
  </div>
</div>