---
title: Card
layout: layouts/base.njk
---

<main id="main" class="[ main ][ page ]" tabindex="-1" aria-live="polite">
  <div class="card">
    <div class="img"></div>
    <div class="description">
      <div class="title">Title</div>
      <div class="sub">
        <span>Desc</span
        ><span>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </span>
      </div>
    </div>
  </div>
</main>
