---
title: A Tiny Company
layout: layouts/base.njk
---

<main id="main" class="[ main ][ page ]" tabindex="-1" aria-live="polite">
  <section>
    <h3>Popular Now</h3>
    <div class="spacer-xs"></div>
    <div class="movie-card"></div>
    <div class="horizontal-scroll">
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
    </div>
  </section>
  <div class="spacer-l"></div>
  <section>
    <h3>Recommended For You</h3>
    <div class="spacer-xs"></div>
    <div class="movie-card"></div>
    <div class="horizontal-scroll">
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
    </div>
  </section>
  <div class="spacer-l"></div>
  <section>
    <h3>History</h3>
    <div class="spacer-xs"></div>
    <div class="movie-card"></div>
    <div class="horizontal-scroll">
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
      <div class="horizontal-scroll__item">
        <div class="movie-card"></div>
      </div>
    </div>
  </section>
</main>
