---
title: A Tiny Company
layout: layouts/base.njk
---

<main id="main" class="[ main ][ page ]" tabindex="-1" aria-live="polite">
  <h3>Popular Now</h3>
  <div class="spacer-xs"></div>
  <div class="movie-card"></div>
  <div class="horizontal-scroll">
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
  </div>
  <div class="spacer-l"></div>
  <h3>Recommended For You</h3>
  <div class="spacer-xs"></div>
  <div class="movie-card"></div>
  <div class="horizontal-scroll">
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
  </div>
  <div class="spacer-l"></div>
  <h3>History</h3>
  <div class="spacer-xs"></div>
  <div class="movie-card"></div>
  <div class="horizontal-scroll">
    <div class="movie-card horizontal-scroll__item"></div>
    <div class="movie-card horizontal-scroll__item"></div>
  </div>
</main>