---
title: A Tiny Company
layout: layouts/base.njk
---

<header>
  <div class="search-container">
    <input type="text" placeholder="Search..."/>
    <div class="burger-icon">&#9776;</div>
    <div class="bookmark-icon">&#9733;</div>
  </div>
</header>
<main>
  <h3 class="section-title">Popular Movie</h3>
  <section class="image-section">
    <div class="image large-image"></div>
    <div class="image small-image"></div>
    <div class="image small-image"></div>
    <div class="image small-image"></div>
    <div class="image small-image"></div>
  </section>
</main>